---
const { openPorts, vulnerabilities } = Astro.props;
---

<div class="bg-white bg-opacity-90 p-6 rounded-3xl shadow-2xl mb-4">
  <h3 class="text-2xl font-bold mb-2">Puertos Abiertos y Vulnerabilidades</h3>
  {openPorts.map(port => (
    <details class="mb-4" key={port.portNameAndType}>
      <summary class="cursor-pointer font-semibold">{port.portNameAndType}</summary>
      <div class="mt-2" innerHTML={port.applicationInfo}></div>
      <ul>
        {vulnerabilities
          .filter(vul => JSON.parse(vul.associatedPorts).includes(parseInt(port.portNameAndType.match(/\d+/)[0])))
          .map(vul => (
            <li class="mt-2" key={vul.cveId}>
              <h4 class="font-semibold">{vul.cveId}</h4>
              <div innerHTML={vul.cveDescription}></div>
              <div innerHTML={vul.cveRecommendations}></div>
              <p><strong>Nivel de Riesgo:</strong> {vul.cveRiskLevel}</p>
            </li>
          ))}
      </ul>
    </details>
  ))}
</div>
